{{$typesPackage := .TypesPackage}}

// {{.Name}}

type {{.Name}} struct {
	target ref.Ref
	ref    *ref.Ref
}

func New{{.Name}}(target ref.Ref) {{.Name}} {
	return {{.Name}}{target, &ref.Ref{}}
}

func (r {{.Name}}) TargetRef() ref.Ref {
	return r.target
}

func (r {{.Name}}) Ref() ref.Ref {
	return {{$typesPackage}}EnsureRef(r.ref, r)
}

func (r {{.Name}}) Equals(other {{$typesPackage}}Value) bool {
	return other != nil && __typeRefFor{{.Name}}.Equals(other.Type()) && r.Ref() == other.Ref()
}

func (r {{.Name}}) Chunks() (chunks []ref.Ref) {
	chunks = append(chunks, r.Type().Chunks()...)
	chunks = append(chunks, r.target)
	return
}

func (r {{.Name}}) ChildValues() []{{$typesPackage}}Value {
	return nil
}

// A Noms Value that describes {{.Name}}.
var __typeRefFor{{.Name}} {{$typesPackage}}Type

func (m {{.Name}}) Type() {{$typesPackage}}Type {
	return __typeRefFor{{.Name}}
}

func init() {
	__typeRefFor{{.Name}} = {{toTypesTypeRef .Type .FileID .PackageName}}
	{{$typesPackage}}RegisterRef(__typeRefFor{{.Name}}, builderFor{{.Name}})
}

func builderFor{{.Name}}(r ref.Ref) {{$typesPackage}}Value {
	return New{{.Name}}(r)
}

func (r {{.Name}}) TargetValue(cs chunks.ChunkSource) {{userType .ElemType}} {
	return {{valueToUser (printf "%sReadValue(r.target, cs)" $typesPackage) .ElemType}}
}

func (r {{.Name}}) SetTargetValue(val {{userType .ElemType}}, cs chunks.ChunkSink) {{.Name}} {
	return New{{.Name}}({{$typesPackage}}WriteValue({{userToValue "val" .ElemType}}, cs))
}
