**/.idea/
**/.dolt/
.vscode
.run
venv

.DS_Store
.sqlhistory
test.sh

# ignore cp'd sysbench runner testing files
SysbenchDockerfile
SysbenchDockerfile.dockerignore
sysbench-runner-tests-entrypoint.sh
config.json
