{
  "optional": ["asyncToGenerator"],
  "blacklist": [
    "es6.blockScoping",
    "es6.constants",
    "es6.forOf",
    "es6.properties.computed",
    "es6.properties.shorthand",
    "es6.templateLiterals"
  ]
}
