{{$typesPackage := .TypesPackage}}
package {{.Name}}

import (
	"{{.NomsImport}}/chunks"
	"{{.NomsImport}}/ref"
	"{{.NomsImport}}/types"
)

{{if .HasTypes}}
// This function builds up a Noms value that describes the type
// package implemented by this file and registers it with the global
// type package definition cache.
func init() {
	p := {{$typesPackage}}NewPackage([]{{$typesPackage}}Type{ {{range $t := .Types}}
			{{toTypesType $t true}},{{end}}
		}, []ref.Ref{ {{range $deps := .Dependencies}}
			ref.Parse("{{$deps}}"),{{end}}
		})
	{{$typesPackage}}RegisterPackage(&p)
}
{{end}}
