{{if .HasTypes}}
const _pkg = new {{importJS "Package"}}([{{range $i, $t := .Types}}
  {{toTypeValueJS $t true 3}},{{end}}
], [{{range $deps := .Dependencies}}
  {{importJS "Ref"}}.parse('{{$deps}}'),{{end}}
]);
{{importJS "registerPackage"}}(_pkg);{{range $i, $t := .Types}}
export const typeFor{{userType $t}} = {{importJS "makeType"}}(_pkg.ref, {{$i}});
const {{userType $t}}$typeDef = _pkg.types[{{$i}}];{{end}}
{{end}}
