import %workspace%/tools/preset.bazelrc

common --enable_platform_specific_config
build --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
build --experimental_proto_descriptor_sets_include_source_info
build --action_env=PATH=/usr/bin:/bin:/sbin
build --action_env=TMPDIR=/tmp
build --action_env=LD_LIBRARY_PATH=
build --repo_env=PATH=/usr/bin:/bin:/sbin
build --repo_env=TMPDIR=/tmp
build --repo_env=LD_LIBRARY_PATH=

common --override_module=com_github_dolthub_dolt_go_serial=../go/serial
