body {
  background: #eaeaea;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 2em;
}

#masthead {
  margin-left:-0.2em;
  margin-top: -0.5em;
  padding: 1em 100px;
  background-image: url(cookie.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 1px solid #aaa;
}

h1 {
  font-weight: 400;
  font-size: 1.25em;
  display: inline;
  margin: 0;
}

h1>.thin {
  font-weight: 300;
}

h2 {
  font-weight: 400;
  font-size: 1.35em;
  margin-top: 1.5em;
}

pre {
  border: 1px solid #aaa;
  padding: 0.5em;
  line-height: 1.7em;
  background: #dedede;
}

a {
  color: #FF4515;
}

a:visited {
  color: #cc2505;
}

.selection-list {
  font: normal 12px Arial;
  margin-top: 10px;
}

.selection-list > h3{
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0;
}

.selection-list > label {
  align-items: center;
  display: flex;
  margin: 2px 0;
  white-space: nowrap;
}

.selection-list > label > input {
  /* Hide real checkbox */
  position: absolute;
  clip: rect(0 0 0 0);
}

.selection-list > label > input + span {
  border-radius: 6px;
  border: 2px solid currentColor;
  box-sizing: border-box;
  display: inline-block;
  height: 12px;
  margin-right: 2px;
  padding: 0;
  transition: .15s border-width;
  width: 12px;
}

.selection-list > label > input:focus + span {
  box-shadow: 0 0 5px #555;
}

.selection-list > label > :checked + span {
  border: 6px solid currentColor;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin-top: 1em;
}

.app > div > svg {
  flex: 1;
  height: 400px;
}

.app-controls {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  margin-right: 1.5em;
}

.app > div {
  align-items: stretch;
  display: flex;
  flex: 1;
}
