name: __DOLT_1__ Enginetests

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'go/**'
  workflow_dispatch:

jobs:
  test:
    name: Go tests (new format)
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-10.15, ubuntu-18.04, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.18
      id: go
    - uses: actions/checkout@v2
    - name: Test All with New Format
      working-directory: ./go
      run: |
        go test -timeout 30m "./libraries/doltcore/sqle/enginetest/..."
      env:
        MATRIX_OS: ${{ matrix.os }}
        DOLT_DEFAULT_BIN_FORMAT: "__DOLT_1__"
