name: Test Go

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Go tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go
    - uses: actions/checkout@v2
    - name: Test All
      working-directory: ./go
      run: go test ./...
