name: Test MySQL Client integrations

on: [pull_request]

jobs:
  mysql_client_integrations_job:
    runs-on: ubuntu-18.04
    name: Run tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test mysql client integrations
        uses: ./.github/actions/mysql-client-tests
      - name: Discord Notify
        if: always()
        uses: dolthub/ga-discord-notify@master
        with:
          job-status: ${{ job.status }}
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          notify-on-success: false
