name: Test MySQL Client integrations

on:
  pull_request:
    paths:
      - 'go/**'
      - 'integration-tests/**'

concurrency:
  group: ci-mysql-client-tests-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  mysql_client_integrations_job:
    runs-on: ubuntu-22.04
    timeout-minutes: 45
    name: Run tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Copy go package
        run: cp -r ./go ./integration-tests/go
      - name: Test mysql client integrations
        uses: ./.github/actions/mysql-client-tests
