name: Post to Pull Request

on:
  repository_dispatch:
    types: [ pull-report ]

jobs:
  report-pull-request:
    name: Report Performance Benchmarks/Correctness on Pull Request
    runs-on: ubuntu-22.04
    if: ${{ github.event.client_payload.issue_number != -1 }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2.2.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Get benchmark/correctness results
        id: get-results
        run: aws s3api get-object --bucket="$BUCKET" --key="$KEY" results.log
        env:
          KEY: ${{ github.event.client_payload.key }}
          BUCKET: ${{ github.event.client_payload.bucket }}
      - name: Post results to PR
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { ACTOR, FORMAT, ISSUE_NUMBER, GITHUB_WORKSPACE } = process.env;
            const issue_number = parseInt(ISSUE_NUMBER, 10);
            const { owner, repo } = context.repo;
            fs = require('fs');
            fs.readFile(`${GITHUB_WORKSPACE}/results.log`, 'utf8', function (err,data) {
              if (err) {
                return console.log(err);
              }
              return github.rest.issues.createComment({
                issue_number,
                owner,
                repo,
                body: `@${ACTOR} ${FORMAT}\n ${data}`
              });
            });
        env:
          ACTOR: ${{ github.event.client_payload.actor }}
          ISSUE_NUMBER: ${{ github.event.client_payload.issue_number }}
          FORMAT: ${{ github.event.client_payload.noms_bin_format }}
      - name: Remove Passing Labels if regression detected
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { ACTOR, ISSUE_NUMBER, GITHUB_WORKSPACE } = process.env;
            const issue_number = parseInt(ISSUE_NUMBER, 10);
            const { owner, repo } = context.repo;
            try {
                const labels = github.rest.issues.createComment({
                issue_number,
                owner,
                repo,
                body: `@${ACTOR} ${FORMAT}\n ${data}`
              });
            } catch(e) {
              console.error(e)
            }
        env:
          ACTOR: ${{ github.event.client_payload.actor }}
          ISSUE_NUMBER: ${{ github.event.client_payload.issue_number }}
      # if this is a regression
      # first remove all correctness_approved labels from the pr
      # if this
